language: python

python:
- 3.4
- 3.5
- 3.6

install:
- pip install -r test-requirements.txt
- pip install codecov
- pip install -e .

script:
- conda-mirror -h
- coverage run --concurrency=multiprocessing run_tests.py
- coverage combine
- coverage report -m
- flake8

after_success:
- codecov
